#################################################
###  General  ###################################
#################################################

.vscode/
.idea/

#################################################
###  Rust  ######################################
#################################################

.rust/
target/
Cargo.lock
**/*.rs.bk

#################################################
###  Rust  ######################################
#################################################

content/*.md
content/*.sh
